body,
html {
    background: #ececec;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    cursor: default;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00a60a;
    color: white;
    box-shadow: 0px 1px 7px 2px rgb(73, 73, 73);
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.4s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

section {
    border: 1px solid black;
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 1px rgb(73, 73, 73);
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

form label {
    padding-top: 10px;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d8d7d7;
}

.boton {
    margin-top: 10px;
    transition-duration: 0.4s;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(0, 234, 238);
}

.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 2px 500px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 217, 221);
}

.links{
    text-decoration: none;
    color: rgba(0, 102, 255, 0.849);
    font-size: 17px;
    padding: 10px;
    background-color: transparent !important;
    border-radius: 0px !important;
}

.linksnav{
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.849);
    padding: 10px;
    background-color: transparent;
    border-radius: 0px;
    font-weight: bold;
}

.content-formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
}

.campo {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
}

.campo:focus {
    border: 1px solid black;
    border-radius: 10px;
}

.campo:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.contenedor-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.encabezado-formulario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.atras {
    height: 30px;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 !important;
}

.atras:hover {
    transform: scale(1.095);
    background-color: transparent;
}

.animacion {
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
}

.animacion::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.animacion:hover::after {
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.cerrar {
    display: flex;
    align-items: center;
}

.contenido-parrafo {
    display: flex;
    align-items: center;
    color: black;
    cursor: default;
}

.contenido-parrafo img {
    height: auto;
    border-radius: 100px;
    border: 1px solid black;
}

.parrafo {
    text-align: center;
    max-width: 1000px;
    height: 100%;
    font-size: 35px;
    margin: 0 30px 0 30px;
}

.logoProvi {
    height: 80px;
    margin-right: 30px;
    border-radius: 100px;

}

.logo {
    display: flex;
}

.campocontra {
    position: relative;
}

.ojo {
    display: inline-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: 12px;
    cursor: pointer;
}

.dash-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    font-family: sans-serif;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: inline-block;
    margin: 16px;
    position: relative;
}

.card__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
}

.card__body p {
    margin: 10px;
}

.card__image {
    position: relative;
    border-bottom: 1px solid #888888;
}

.card__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.card__profile {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 197px;
    left: 100px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    border: 1px solid #dddddd;
    overflow: hidden;
}

.card__profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contenedor-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.campo {
    border: 1px solid #ccc;
    padding: 8px;
    transition: border-color 0.3s ease;
}

.campo.error {
    border-color: red;
}

.iniciado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.iniciado .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.iniciado .atras {
    background: none;
    border: none;
    cursor: pointer;
}

.iniciado h2 {
    margin: 0;
}

.iniciado p {
    margin-top: 10px;
}

.nosotros {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
}

.nosotros div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    background-color: antiquewhite;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgb(73, 73, 73);
    transition: 0.4s;
}

.nosotros div:hover{
    background-color: rgb(248, 220, 183);
    cursor: default;
}